<% provide(:title, "All Users") %>


<div class="table-responsive">
  <table class="dataTable table table-hover" id="userlists">
    <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
        </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= link_to user.email, user %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

</div>

<script type="text/javascript">
    $(document).ready(function() {
/*
        var oTable = $('#userlists').dataTable({
                                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                    "bAutoWidth": true,
            "oLanguage": {
                "sSearch":"检索:",
                "sLengthMenu":"每页显示 _MENU_ 条记录",
                "sZeroRecords":"空",
                "sInfoEmpty":"无记录",
                "sInfoFiltered":"(从 _MAX_ 条记录检索)",
                "sInfo": "_START_ 到 _END_ 条（共 _TOTAL_ 条）",
                "oPaginate": {
                    "sFirst":"<<",
                    "sLast":">>",
                    "sNext":"",
                    "sPrevious":""

                }

            }
        });*/

 //       $('#userlists_length>label>select').addClass('form-control');
  //      $('#userlists_filter>label>input').addClass('form-control');
   /*     $('#userlists_filter>label>input').unbind();
        $('#userlists_filter>label>input').bind('keyup', function(e) {
            if (e.keyCode == 13) {
                oTable.fnFilter(this.value);
            //    alert(this.value);
            }
        });
*/

  }); 
</script>

