<% provide(:title, "All Users") %>

<div class="table-responsive">
  <table class="dataTable table table-hover" id="userlists">
    <thead>
        <tr>
          <th>UserName</th>
          <th>Email</th>
        </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= link_to user.email, user %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

</div>


