// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup input[type="submit"] {
  margin-top: 20px;
}

.signup label {
  margin-top: 8px;
}

.remember{
  margin-bottom: 6px;
}
.remember label {
  margin: 0px;
  padding: 0px;
  vertical-align:middle;
}
.remember input{
  margin: 0px;
  padding: 0px;
  vertical-align:middle;
}

